{% extends "base.html" %}
{% load staticfiles %}
{% load pipeline %}

{% block head %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:600,800' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tagit/jquery.tagit.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{% static 'css/tagit/tagit.ui-zendesk.css' %}"/>
    <script src="{% static 'js/tag-it.min.js' %}"></script>
    <script src="{% static 'js/autocomplete.js' %}"></script>
    {% stylesheet 'home' %}
{% endblock %}

{% block title %}Browse{% endblock %}

{% block content %}
<div class="search">
    <div class="hero-title" style="font-size:250%;">
        Campus collaboration fosters a safer community.
    </div>
    <div class="search-bar col-md-4 col-md-offset-4 col-sm-6 col-sm-offset-3 col-xs-10 col-xs-offset-1">
        <ul id="search-area" class="">
        </ul>
        <button class="reset-this search-btn"><i class="glyphicon glyphicon-search search-icon-home"></i></button>
    </div>
</div>
<div class="info-block">
    <div class="row info-row">
        <div class="col-lg-4 icon-block">
            <img src="{% static 'images/check-icon.jpg' %}" height="200" width="200" class="pictures"><br>
            <div class="number">
                1
            </div>
            <div class="steps">
                Fill out the information for your university.
            </div>
        </div>
        <div class="col-lg-4 icon-block">
            <img src="{% static 'images/report-icon.jpg' %}" height="200" width="200" class="pictures"><br>
            <div class="number">
                2
            </div>
            <div class="steps">
                Browse for resources from other universities.
            </div>
        </div>
        <div class="col-lg-4 icon-block">
            <img src="{% static 'images/people-icon.jpg' %}" height="200" width="200" class="pictures"><br>
            <div class="number">
                3
            </div>
            <div class="steps">
                Together, we can build a better community.
            </div>
        </div>
    </div>
</div>
<div class="row space"></div>
{% endblock %}


