@import "colors";

.register-btn {
    color: inherit;
}

.register-btn:hover {
    text-decoration: none;
    color: #ddd;
}

.register-btn:active {
    text-decoration: none;
}

.nav-bar {
    .IX-title {
        color: @base-blue;
        font-weight: 400;
    }

    .logo-emph {
        border-top: 2px solid @base-blue;
        border-bottom: 2px solid @base-blue;
        overflow: hidden;
        padding-top: -20px;
        height: 0.8em;
        line-height: 0.66;
        display: inline-block;
        margin-right: 0.15em;
        vertical-align: baseline;
        margin-right: -5px;
    }

    .site-title {
        display:inline-block;
        letter-spacing: 0.1em;
        margin-left: 10px;
        font-size: 25px;
    }

    color: white;
    font-weight: 400;
    font-size: 2em;

    line-height: 1;

    display: inline-block;
    width: 100%;

    background-color: @nav-black;

    a {
        .IX-title {
            color: @base-blue;

            &:focus {
                color: @base-blue;
            }
        }

        color: white;
    }

    li {
        &:hover {
            background-color: @faded-gray-light;
        }
        .right-site-title {
            &:hover {
                background-color: @faded-gray-light;
            }

            padding-top: 20px;
            padding-bottom: 20px;
        }
    }

    .open {
        .dropdown-toggle {
            background-color: @faded-gray-light !important;
        }
    }
}

.navbar-brand {
    padding: 20px 15px;
}

.right-site-title {
    font-size: 18px;
    font-weight: 600;
    margin-top: -5px;

    border-color: white;

    a {
        color: white;
    }

    &:focus {
        background-color: @faded-gray-light !important;
    }
}
