{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/university_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/university_edit_profile.css' %}">
{% endblock %}

{% block title %}{{ uni.name }}{% endblock %}

{% block content %}
    <div class="row pushed-in">
        <div class="col-md-4">
            <div class="panel img-panel">
                <div class="panel-heading">
                    University Information
                    <i title="Edit information" data-edit="university-metadata" class="glyphicon glyphicon-edit edit-btn"></i>
                </div>
                <div class="img-area" style="background-image: url({{ MEDIA_URL}}{{ uni.logo }});">
                <form method="POST" action="/uploadphoto" enctype="multipart/form-data" style="margin:0;" id="upload-photo-form">
                    {% csrf_token %}
                    <input type="hidden" name="u_id" value="{{ uni.id }}">
                    <input class="upload-img-input" type="file" name="profile_image">
                </form>
                <i title="Change photo" class="glyphicon glyphicon-camera edit-camera-btn"></i>
                </div>
                <div class="panel-body" style="line-height: 1.75">
                    <div class="university-name">
                        {{ uni.name }}
                    </div>
                    <div id="university-metadata-static">
                        <div class="university-location">
                            <span id="university-metadata-city">{{ uni.city }}</span>, <span id="university-metadata-state">{{ uni.state }}</span>
                        </div>
                        <div class="university-phone-number">
                            <span id="university-metadata-phone_number">{{ uni.phone_number }}</span>
                        </div>
                    </div>
                    <div class="edit-university-area" id="university-metadata-edit" style="display:none">
                        <div class="form-group row">
                            <label class="form-control-label col-sm-2 university-edit-label">City</label>
                            <div class="col-sm-10">
                                <input class="university-metadata-input" name="city" type="text" value="{{uni.city}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="form-control-label col-sm-2 university-edit-label">State</label>
                            <div class="col-sm-10">
                                <input class="university-metadata-input" name="state" type="text" value="{{uni.state}}">
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="form-control-label col-sm-2 university-edit-label">Phone</label>
                            <div class="col-sm-10">
                                <input class="university-metadata-input" name="phone_number" type="text" value="{{uni.phone_number}}">
                            </div>
                        </div>
                        <button class="ixedu-btn btn edit-submit" data-edit="university-metadata">Save</button>
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    Resources
                    <a href="/uni/{{uni.id}}/editresources"><i title="Edit the resources" class="glyphicon glyphicon-edit edit-btn"></i></a>
                </div>
                <div class="panel-body">
                    {% for file in files %}
                        <div class="resource-entry">
                            <a href="{% if file.link %}{{ file.link }}{% else %}{{MEDIA_URL}}{{file.uploaded_file}}{% endif %}" target="_blank" class="reset-this resource-link">
                                <div class="resource-name">
                                    {{ file.name }}
                                </div>
                                <div class="resource-description">
                                    {{ file.description }}
                                </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    Admins
                    {% if has_admin_priv %}
                        <i id="admin-edit" title="Edit information" class="glyphicon glyphicon-edit edit-btn"></i>
                    {% endif %}
                </div>
                <div id="admin-panel" class="panel-body" style="padding-top:0px;">
                    {% for admin in admins %}
                        <div id="admin{{ admin.id }}" class="admin-entry">
                            <div class="admin-position">
                                {{ admin.position }}
                            </div>
                            <div class="admin-name">
                                {{ admin.name }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    Collaborators
                    {% if has_admin_priv %}
                        <i id="collab-edit" title="Edit information" class="glyphicon glyphicon-edit edit-btn"></i>
                    {% endif %}
                </div>
                <div id="collab-panel" class="panel-body" style="padding-top:0px;">
                    {% for c in collaborators %}
                    <div id="admin{{ c.id }}" class="admin-entry">
                            <div class="admin-position">
                                {{ c.position }}
                            </div>
                            <div class="admin-name">
                                {{ c.name }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-8 main-info-block">
            <div class="profile-info-area">
                <div class="profile-info-title">
                    Complete your profile: <a href="/uni/{{uni.id}}/form" class="big-edit-btn"><i title="Edit information" class="glyphicon glyphicon-edit"></i></a>
                </div>
                <div class="profile-checkboxes-area">
                    {% for cat in categories %}
                        <div class="category-checkbox-area">
                            <div class="category-checkbox-name">
                                {{ cat.name }}
                            </div>
                            <div class="category-checkboxe-checkboxes row">
                                {% for subcat in cat.subcats %}
                                    <div class="col-lg-3 col-md-4 col-sm-4 col-xs-6">
                                        <a href="/uni/{{ uni.id }}/form?cat={{ cat.href }}&subcat={{ subcat.href }}">
                                          <div class="subategory-checkbox-area">
                                              <div class="row">
                                                  <div class="col-md-2">
                                                      {% if subcat.description %}
                                                          <i class="glyphicon glyphicon-ok-sign subcategory-filled"></i>
                                                      {% else %}
                                                          <div class="subcategory-empty"></div>
                                                      {% endif %}
                                                  </div>
                                                  <div class="col-md-10 subcat-name">
                                                      {{ subcat.name }}
                                                  </div>
                                              </div>
                                          </div>
                                        </a>
                                    </div>
                                {% endfor %}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>

    <div id="uni-id-hidden" data-id="{{uni.id}}" style="display:none;"></div>

    <div class="modal fade" id="admin_modal">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">
                        <span>&times;</span>
                    </button>
                    <h4 class="modal-title">Administrators for {{ uni.name }}</h4>
                </div>
                <div class="modal-body">
                    <ul id="admin-list" class="admin-list">
                        {% for admin in admins %}
                            <li class="admin-box" data-cu-id="{{ admin.id }}">
                                <span class="admin-name">{{ admin }}</span>
                                <span class="admin-position" contenteditable="true">{{ admin.position }}</span>
                                <span class="glyphicon glyphicon-remove"></span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-header">
                    <h4 class="modal-title">Collaborators for {{ uni.name }}</h4>
                </div>
                <div class="modal-body">
                    <ul id="collab-list" class="admin-list">
                        {% for collab in collaborators %}
                            <li class="admin-box" data-cu-id="{{ collab.id }}">
                                <span class="admin-name">{{ collab }}</span>
                                <span class="admin-position" contenteditable="true">{{ collab.position }}</span>
                                <span class="glyphicon glyphicon-remove"></span>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="modal-footer">
                    <button id="add-admin" type="button" class="btn btn-default">Add</button>
                    <input id="admin-email" class="form-control" placeholder="User Email"></input>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                    <button id="admin-submit" type="button" class="btn btn-primary">Save</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/sortable.min.js' %}"></script>
    <script src="{% static 'js/university_edit_profile.js' %}"></script>
{% endblock %}

