{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/university_resources.css' %}">
{% endblock %}

{% block title %}Resources - {{ uni.name }}{% endblock %}

{% block scripts %}
    <script>
        CONFIG = {
            uni_name: '{{ uni.name }}',
            uni_id: {{ uni.id }}
        }
    </script>
    <script src="{% static 'js/sortable.min.js' %}"></script>
    <script type="text/babel" src="{% static 'js/edit_resources.js' %}"></script>
{% endblock %}
