{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/university_profile.css' %}">
    <link rel="stylesheet" href="{% static 'css/university_edit_profile.css' %}">
{% endblock %}

{% block title %}IXEDU - {{ uni.name }}{% endblock %}

{% block content %}
    <div class="row pushed-in">
        <div class="col-md-4">
            <div class="panel img-panel">
                <div class="panel-heading">
                    University Information
                    <i title="Edit information" class="glyphicon glyphicon-edit edit-btn"></i>
                </div>
                <div class="img-area" style="background-image: url({{ MEDIA_URL}}{{ uni.logo }});">
                <input class="upload-img-input" type="file" name="profile_image">
                <i title="Change photo" class="glyphicon glyphicon-camera edit-camera-btn"></i>
                </div>
                <div class="panel-body" style="line-height: 1.75">
                    <div class="university-name">
                        {{ uni.name }}
                    </div>
                    <div class="university-location">
                        {{ uni.city }}, {{ uni.state }}
                    </div>
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    Admins
                    <i title="Edit information" class="glyphicon glyphicon-edit edit-btn"></i>
                </div>
                <div class="panel-body" style="padding-top:0px;">
                    {% for admin in admins %}
                        <div class="admin-entry">
                            <div class="admin-position">
                                {{ admin.position }}
                            </div>
                            <div class="admin-name">
                                {{ admin.name }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
            <div class="panel">
                <div class="panel-heading">
                    Collaborators
                    <i title="Edit information" class="glyphicon glyphicon-edit edit-btn"></i>
                </div>
                <div class="panel-body" style="padding-top:0px;">
                    {% for c in collaborators %}
                        <div class="admin-entry">
                            <div class="admin-name">
                                {{ c.name }}
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div class="profile-info-area">
                <div class="profile-info-title">
                    Complete your profile:
                </div>
            </div>
            <div class="profile-checkboxes-area">
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static 'js/university_edit_profile.js' %}"></script>
{% endblock %}

