{% extends 'base.html' %}
{% load staticfiles %}

{% block head %}
    <link rel="stylesheet" href="{% static 'css/university_profile.css' %}">
{% endblock %}

{% block title %}{{ view_uni_name }}{% endblock %}

{% block scripts %}
    <script src="{% static 'js/build.js' %}"></script>
    <script>
      {% autoescape off %}
        var root = window.React.createElement(window.UniversityProfile, {
          uni: {{ view_uni_json }},
          admins: {{ view_uni_admins_json }},
          collabs: {{ view_uni_collabs_json }},
          resources: {{ view_uni_resources }},
          categories: {{ categories }},
          media_url: '{{ MEDIA_URL }}',
          editable: false
        });
        window.ReactDOM.render(root, document.getElementById('content'));
      {% endautoescape %}
    </script>
{% endblock %}
