/* BRAND COLORS */
/* NAV COLORS */
/* BASE PAGE COLORS */
/* SEARCH COLORS */
/* HOMEPAGE COLORS */
.register-btn {
  color: inherit;
}
.register-btn:hover {
  text-decoration: none;
  color: #ddd;
}
.register-btn:active {
  text-decoration: none;
}
.nav-logo {
  height: 22px;
  padding-left: 30px;
}
.nav-bar {
  color: white;
  font-weight: 400;
  font-size: 2em;
  line-height: 1;
  display: inline-block;
  width: 100%;
  background-color: #3C3D49;
}
.nav-bar .IX-title {
  color: #606eb9;
  font-weight: 400;
}
.nav-bar .logo-emph {
  border-top: 2px solid #606eb9;
  border-bottom: 2px solid #606eb9;
  overflow: hidden;
  padding-top: -20px;
  height: 0.8em;
  line-height: 0.66;
  display: inline-block;
  margin-right: 0.15em;
  vertical-align: baseline;
  margin-right: -5px;
}
.nav-bar .site-title {
  display: inline-block;
  letter-spacing: 0.1em;
  margin-left: 30px;
  font-size: 25px;
}
.nav-bar a {
  color: white;
}
.nav-bar a .IX-title {
  color: #606eb9;
}
.nav-bar a .IX-title:focus {
  color: #606eb9;
}
.nav-bar li:hover {
  background-color: #636c86;
}
.nav-bar li .right-site-title {
  padding-top: 20px;
  padding-bottom: 20px;
}
.nav-bar li .right-site-title:hover {
  background-color: #636c86;
}
.nav-bar .open .dropdown-toggle {
  background-color: #636c86 !important;
}
.navbar-brand {
  padding: 17px 15px;
}
.right-site-title {
  font-size: 16px;
  font-weight: 500;
  margin-top: -5px;
  border-color: white;
}
.right-site-title a {
  color: white;
}
.right-site-title:focus {
  background-color: #636c86 !important;
}
