.panel {
    border: none;
    border-radius: 0px;
}

.panel-heading {
    text-transform: uppercase;
    font-weight: 700;
    background-color: #F8F8F8;
    color: #414141;
    padding: 15px;
    position: relative;
}

.img-area {
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 100%;
    height: 200px;
    position: relative;
}

.university-name {
    font-size: 20px;
    font-weight: 700;
}

.university-location:after {
    content: '|';
}

.university-location {
    font-size: 14px;
    font-weight: 400;

    display: inline;
}

.university-phone-number {
    font-weight: 600;

    display: inline;
}

.university-completion-record {
    font-size: 11px;
    color: #838383;

    letter-spacing: 0.8px;

    text-transform: uppercase;

    margin-top: 12px;
}

.university-panel:hover {
    cursor: pointer;
    background-color: #CCCCCC
}
