
body {
    background-color: #F7F7F7;
}

.row-bar {
    margin: 60px 60px;
    position: relative;
}

.bar {
    height: 13px;
    background: linear-gradient(to right, #5B65BE 50%, white 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 1.5s ease;
    float: left;
}

.circle {
    position: absolute;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    background-color: white;
    top: -7px;
    transition: border 1.2s linear;
}

@keyframes fill {
    from {background-color: white;}
    to {background-color: #5B65BE}
}

.filled {
    background-color: #5B65BE;
    background-position: left bottom;
    /*animation-name: fill;*/
    /*animation-duration: 4s;*/
}

.under-text {
    position: absolute;
    top: 25px;
}

.first {
    left: -5px;
}

.second {
    left: 24%;
}

.third {
    left: 49%;
}

.fourth {
    left: 74%;
}

.fifth {
    right: -5px;
}

.first-text {
    left: -20px;
}

.second-text {
    left: 22%;
}

.third-text {
    left: 48%;
}

.fourth-text {
    left: 73%;
}

.fifth-text {
    right: -20px;
}

.half-empty {
    background: white;
    border: 7px solid #5B65BE;
}

.controls-row {
    margin: 0 60px;
    margin-bottom: 50px;
}

.control-btn {
    width: 100%;
    height: 60px;
    border-radius: 0;
    background-color: #5B65BE;
    color: white;
    font-size: 150%;
    padding-top: 13px;
}

button:active {
    outline: none;
    border:none;
}

button:focus {
    outline: none;
    border:none;
}

.panel-group .panel + .panel {
    margin-top: 0px;
}

.collapsing-row {
    margin: 30px 60px;
    display: none;
    transition: all 1.5s ease;
}

.collapsing-row.active {
    display: block;
}

.panel-group .panel {
    margin-bottom: 0px;
    border-radius: 0px;
}

.panel {
    margin-bottom: 0;
    border: none;
    border-radius: 5px;
}

.panel-heading {
    padding: 30px;
    font-size: 125%;
}

.panel-heading.active > .panel-title > .link-clicker {
    color: white;
    text-transform: none;
}

.panel-heading.light {
    background-color: #F2F2F2
}

.glyphicon-ok-sign {
    color: #2B258E !important;
}

.panel-heading.dark {
    background-color: #E9E7EE
}

.panel-heading.active {
    background-color: #6262C2
}

.select-circle {
    color: white;
    margin-right: 20px;
}

a:hover {
    text-decoration: none;
}

a:focus {
    text-decoration: none;
}

.panel-body {
    padding: 20px 38px;
    font-size: 120%;
    line-height: 1.5;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border: none !important;
}

.panel-group .panel-heading + .panel-collapse > .panel-body, .panel-group .panel-heading + .panel-collapse > .list-group {
    border: none !important;
}

.down-arrow {
    width: 0; 
    height: 0; 
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #6262C2;
    margin-left: 30px;
}

textarea {
    border: none;
    width: 100%;
    max-width: 100%;
}

textarea:focus {
    outline: none;
    border: none;
}

.submit-btn {
    background-color: green;
    padding-top: 5px;
}


