body {
  background: #e8e8e8;
}

.row {
  margin: 0;
}

.content-container {
  margin-bottom: 50px;
}

.title-panel {
  margin: 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: center;

  box-shadow: inset 0 0 0 1000px rgba(0,0,0,.5);

  height: 35vh;
}

.uni-title {
  color: rgba(255,255,255,0.85);

  font-weight: 600;
  font-size: 24px;

  margin-top: 19vh;
  margin-left: 40px;
}

.uni-location {
  color: rgba(255,255,255,0.85);

  display: block;

  margin-top: 8px;
  margin-left: 40px;
}

.uni-city {
  display: inline-block;
}

.uni-city:after {
  content: ', ';
}

.uni-state {
  margin-left: 5px;
  display: inline-block;
}

.uni-size {
  color: rgba(255,255,255,0.85);

  display: block;
  float: right;

  text-transform: uppercase;
  font-size: 11px;

  margin: 0 20px 15px 0;
}

.size-sub {
  display: inline-block;

  padding: 6px 14px;
  border-right: 1px solid rgba(255,255,255,0.8);
}

.program-size {
  border: none;
}

.uni-size-number {
  text-align: center;

  font-size: 16px;
  font-weight: 100;
}

.uni-size-desc {
  text-align: center;

  letter-spacing: 0.9px;
  font-weight: 600;
}

.panel {
  background-color: white;
  box-shadow: none;

  margin: 0;
}

.panel:first-child {
  margin-top: 10px;
}

.panel-heading {
  background-color: #e8e8e8;
  border: 1px solid white;

  font-size: 0.9em;
}

.two-column {
  min-height: 50vh;
}

.left-column {
  margin-left: 25px;
}

.admin-entry {
  padding-top: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid #e8e8e8;
}

.admin-entry:first-child {
  padding-top: 0;
}

.admin-entry:last-child {
  padding-bottom: 0;

  border-bottom: none;
}

.contact-icon {
  margin-right: 5px;

  color: black;

  top: 2px;
}

.admin-contact {
  color: #606eb9;

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.admin-name {
  margin-bottom: 10px;
  margin-top: 5px;

  font-weight: 600;
  letter-spacing: 0.25px;
}

.admin-img {
  display: inline-block;

  height: 75px;
  width: 25%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.admin-desc {
  display: inline-block;
  width: 70%;
  height: 75px;

  margin-left: 5%;

  vertical-align: bottom;
}

.resources-entry {
  padding-top: 15px;
  padding-bottom: 15px;

  border-bottom: 1px solid #e8e8e8;
}

.resources-entry:first-child {
  padding-top: 0;
}

.resources-entry:last-child {
  padding-bottom: 0;

  border-bottom: none;
}

.resources-entry > a {
  color: black;
  text-decoration: none;
}

.resources-entry > a:hover {
  color: black;
  text-decoration: none;
}

.resource-contact {
  color: #606eb9;

  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.25px;
}

.resource-name {
  margin-bottom: 10px;
  margin-top: 5px;

  font-weight: 600;
  letter-spacing: 0.25px;
}

.resource-image {
  display: inline-block;

  height: 130px;
  width: 35%;

  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.resource-desc {
  display: inline-block;
  width: 60%;
  height: 130px;

  margin-left: 5%;

  vertical-align: top;
}

.resource-description {
  overflow: scroll;

  height: 100px;
}

.category-panel-heading {
  display: inline-block;
  width: 100%;

  margin-top: 10px;

  border: 1px solid #606eb9;
}

.category-header {
  display: inline-block;

  background-color: #606eb9;

  font-size: 0.9em;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 0.9em;
  color: white;

  padding: 18px;

  text-align: center;

  cursor: pointer;
}

.category-active {
  content: '';
  width: 0;
  height: 0;

  position: absolute;
  top: 50px;

  margin-left: -10px;

  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 10px solid white;
}

.subcat-panel {
  background-color: white;
}

.subcat-subcat {
  padding: 20px 0;
  margin: 0 30px;

  border-top: 1px solid #e8e8e8;
}

.subcat-title-txt {
  font-weight: 600;
  font-size: 18px;
}

.subcat-empty {
  font-style: italic;
}
