{% load pipeline %}

{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css">
        <script src="{% static 'js/jquery.min.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/jquery-ui.min.js' %}" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <title>{% block title %}{% endblock %} - IXEDU</title>
        {% stylesheet 'base' %}
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block navbar %}
        <div class="nav-bar">
            <!-- <a href="/">
                
            </a>
            {% if user.is_authenticated %}
                <div class="right-site-title"><a href="/user" class="register-btn">{{ user }}</a></div>

                <div class="right-site-title"><a href="/uni/{{uni.id}}" class="register-btn">{{ uni.name }}</a></div>
            {% else %}
                <div class="right-site-title"><a href="/login" class="register-btn">Login</a></div>
                <div class="right-site-title"><a href="/register" class="register-btn">Register</a></div>
            {% endif %} -->
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="/">
                    <div class="site-title" style="marging-top:5px; margin-left:10px;">
                        <div class="logo-emph">
                            <span class="IX-title">IX</span>
                        </div>
                        EDU
                    </div>
              </a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
              <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li><a href="/uni/{{uni.id}}" class="right-site-title">{{ uni.name }}</a></li>
                    <li class="dropdown">
                      <a href="#" class="dropdown-toggle right-site-title" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{ user }}<span class="caret"></span></a>
                      <ul class="dropdown-menu">
                        <li><a href="/user">Profile</a></li>
                        <li role="separator" class="divider"></li>
                        <li><a href="/logout">Logout</a></li>
                      </ul>
                    </li>
                {% else %}
                    <li><a href="/login" class="right-site-title">Login</a></li>
                    <li><a href="/register" class="right-site-title">Register</a></li>
                {% endif %}
              </ul>
            </div><!-- /.navbar-collapse -->
        </div>

    {% endblock %}

    <div id="content">{% block content %}{% endblock %}</div>
    {% block scripts %}{% endblock %}
</body>
</html>
