{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
        <link rel="stylesheet" href="{% static 'bower_components/bootstrap/dist/css/bootstrap.css' %}"/>
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic" rel="stylesheet" type="text/css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/base.css' %}"/>
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.9.2/jquery-ui.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="{% static 'js/bootstrap.js' %}"></script>
        <title>{% block title %}{% endblock %} - IXEDU</title>
    {% block head %}
    {% endblock %}
</head>
<body>
    {% block navbar %}
        <div class="nav-bar">
            <div class="site-title" style="marging-top:5px; margin-left:10px;">
                <div class="wooo">
                    <span class="IX-title">IX</span>
                </div>
                EDU
            </div>
            <div class="right-site-title"><a href="/signup" class="register-btn">Register University</a></div>
        </div>

    {% endblock %}

    <div id="content">{% block content %}{% endblock %}</div>
    {% block scripts %}{% endblock %}
</body>
</html>
